﻿<div class="jumbotron">
    <h1>Festékbolt</h1>
    <p class="lead">Ez a honlap egy festékbolt rendelés nyílvántartó rendszerhez készült</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Felhasználói oldalról:</h2>
        <p>
            A festékbolthoz tartozó rendeléseket lehet menedzselni. Egy megrendeléshez mindig tartozik egy vásárló és egy termék hogy mit vett.
            Mind a vásárló adatai, mind a termék részletesen tárolva van
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kód oldalról</h2>
        <p>A programozás 3. tárgy keretében készített Paintshop programot és adatbázis használtam fel ezen MVC projekt elkészítéséhez, Szabó-Resch Miklós Zsolt Lab 10 videója alapján </p>
        <p><a href="https://www.youtube.com/watch?v=GLd3nz29KTk" class="btn btn-primary btn-lg">Szabó Zsolt videója&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kiegészítés</h2>
        <p>Ezen kívül tartalmaz egy 'DataTables' nevű jQuery alapú plugint a táblázat mejelenítéséhez, ezzel lehet a táblában keresni, szűrni stb.</p>
        <p><a href="https://datatables.net/" class="btn btn-primary btn-lg">DataTables Plugin&raquo;</a></p>
    </div>
</div>
