﻿@model CalorieCalculator.Models.Training

@{
    ViewBag.Title = "Result";
}

<h2>Az eredmény</h2>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BurnedCalories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BurnedCalories)
        </dd>
    </dl>
</div>

@Html.ActionLink("Új kalkuláció", "Calculator")

