﻿@model PaintShop.Web.Models.Customer

@{
    ViewBag.Title = "Customer Details";
}

<h2>Datasheet of one car</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Date_of_birth)</td>
        <td>@Html.DisplayFor(m => m.Date_of_birth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Place_of_birth)</td>
        <td>@Html.DisplayFor(m => m.Place_of_birth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Mothers_name)</td>
        <td>@Html.DisplayFor(m => m.Mothers_name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Regular_customer)</td>
        <td>@Html.DisplayFor(m => m.Regular_customer)</td>
    </tr>
</table>