﻿@model PaintShop.Web.Models.CustomerViewModel

@{
    ViewBag.Title = "Crud Index";
}

<h2>Customers Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@Html.Partial("CustomersEdit", Model.EditedCustomer)

@Html.Partial("CustomersList", Model.ListOfCustomers)

@section scripts
{
    <script>
    $(document).ready(function () {
        $('#customerTable').DataTable({
            "pageLength": 5
        });
    });
    </script>
}