﻿@model IEnumerable<PaintShop.Web.Models.Customer>

@{
    ViewBag.Title = "Customer List";
}

<br>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
    </div>
</div>

<h2>Customers List</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!!!</p>
}
else
{
    <table class="table" id="customerTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.First().Name)</th>
                <th>@Html.DisplayNameFor(m => m.First().Date_of_birth)</th>
                <th>@Html.DisplayNameFor(m => m.First().Place_of_birth)</th>
                <th>@Html.DisplayNameFor(m => m.First().Mothers_name)</th>
                <th>@Html.DisplayNameFor(m => m.First().Regular_customer)</th>
                <th>Datasheet</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.Date_of_birth)</td>
                    <td>@Html.DisplayFor(m => item.Place_of_birth)</td>
                    <td>@Html.DisplayFor(m => item.Mothers_name)</td>
                    <td>@Html.DisplayFor(m => item.Regular_customer)</td>
                    <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.Id })</td>
                    <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Id })</td>
                    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</td>
                </tr>
            }
        </tbody>


    </table>
}

<br>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
    </div>
</div>
<br>

