﻿@model PaintShop.Web.Models.Customer
@{
    ViewBag.Title = "Customer Edit";
}

<br>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
    </div>
</div>

<h2>Customer Edit</h2>

@using (Html.BeginForm("Edit", "Customers"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Date_of_birth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Date_of_birth)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Place_of_birth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Place_of_birth)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Mothers_name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Mothers_name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Regular_customer)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Regular_customer)</div>

    <input type="submit" value="SEND" />
}